@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>PerfectParkingCo</h1>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/About">About</a></li>
        <li><a asp-page="/Admins/Index">Admins</a></li>
        <li><a asp-page="/Customers/Index">Customers</a></li>
        <li><a asp-page="/ParkingSlots/Index">ParkingSlots</a></li>
        <li><a asp-page="/Payments/Index">Payments</a></li>
        <li><a asp-page="/PositionDiscounts/Index">PositionDiscounts</a></li>
        <li><a asp-page="/Pricings/Index">Pricings</a></li>
    </ul>
</div>