@page
@model ParkingSystem.Pages.Payments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Payment.ReceiptNo" />
            <div class="form-group">
                <label asp-for="Payment.TimeOfPayment" class="control-label"></label>
                <input asp-for="Payment.TimeOfPayment" class="form-control" />
                <span asp-validation-for="Payment.TimeOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Total" class="control-label"></label>
                <input asp-for="Payment.Total" class="form-control" />
                <span asp-validation-for="Payment.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.ParkingSlot.Plate" class="control-label"></label>
                <select asp-for="Payment.ParkingID" class="form-control"
                        asp-items="@Model.ParkingSL">
                    <option value="">-- Select Plate --</option>
                </select>
                <span asp-validation-for="Payment.ParkingSlot.Plate" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
